.movieSearch{
    width: 100%;
}
.movieResults{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column
}
.details{
    transition: 1s;
    transform: translate(-100%, 0)
}
.moreInfo{
    z-index: 2;
    font-weight: bold;
    position: fixed;
    top:0;
    left: 100%;
    width: 100%;
}
